@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--fontpadrao);
    font-size: medium;
    font-weight: normal;

    list-style: none;
    text-decoration: none;
}

:root {
    --white: #fff;
    --dimwhite: #eeeeee;
    --lgray: #d3d3d3;
    --silver: #c0c0c0;
    --rgray: #808080;
    --dgray: #696969;
    --lchumbo: #545454;
    --rchumbo: #3c3c3c;
    --dchumbo: #2c2c2c;
    --lblack: #171717;
    --regular: #0e0e0e;
    --black: #000;
    --preço: #ff0000;

    --fontpadrao: arial, helvetica, verdana, sans-serif;

    --sombra: #00000066;

    --gap-letreiro: 2.5vw;
}

.letreiro {
    display: flex;

    padding-block: 15px;

    background-color: var(--regular);

    user-select: none;

    overflow-x: hidden;

    gap: var(--gap-letreiro);

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        animation: scroll 40s linear infinite;

        min-width: 100%;

        list-style: none;

        gap: var(--gap-letreiro);

        flex-shrink: 0;

        li {
            color: var(--white);

            span {
                font-size: 10pt;
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                font-style: normal;

                margin-inline: 2.5vw;
            }
        }
    }
}

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - var(--gap-letreiro)));
    }
}

header {
    background-color: var(--regular);
    padding: 15px 70px;

    ul {
        max-width: 1300px;
        margin: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        img {
            max-height: 25px;
        }
        .imagem-icone-menu {
            max-height: 20px;
        }
    }
    #lista-cabeçalho {
        a {
            position: relative;

            color: var(--white);
            padding-inline: 10px;
           
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;

            letter-spacing: 1px;

            opacity: 0.7;
            transition: .3s;
        }
        a::after {
            position: absolute;

            left: 0;
            bottom: -2px;

            content: '';

            width: 100%;
            height: 1px;

            background-color: var(--white);

            transform: scaleX(0);
            transform-origin: right;
            transition: transform .5s;

            transform: .3s;
        }
        a:hover {
            opacity: 1;
        }
        a:hover::after {
            transform: scaleX(1);
            transform-origin: left;
        }
    }
}

picture {
    div {
        max-width: 1600px;
        margin: auto;

        width: 100%;
    }

    #fundo-principal {

        background-image: url("../assets/images/picture/foto-capaN1.jpeg");
        background-position: center center;
        background-size: cover;

        height: 650px;
        
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;

        box-shadow: 0px 8px 20px var(--sombra);

        margin-bottom: 50px;
    }

    #fundo-secundario {
        background-image: url("../assets/images/picture/foto-capaN2.png");
        background-position: center -150px;
        background-size: cover;

        height: 400px;
    }
    .qualidade-unica {
        text-transform: uppercase;
        
        background-color: var(--lgray);

        overflow-x: hidden;

        max-width: 1600px;
        margin: auto;

        display: flex;
        justify-content: space-between;

        li {
            white-space: nowrap;

            text-align: center;
            
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 30pt;
        }
        li::after {
            content: ' ❂';
            margin-inline: 20px;
        }
        li:last-child::after{
            content: '';
            margin-inline: 0;
        }
    }
}

section {
    margin: auto;
    max-width: 1600px;

    margin-block: 50px;

    h1, #subtitulo-section {
        width: 1200px;
        margin: auto;
    }
    h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30pt;

        margin-bottom: 30px;
    }
    #subtitulo-section {
        margin-bottom: 50px;

        display: flex;
        justify-content: space-between;

        p, a, div {                
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 15pt;
            color: var(--black);
        }
        a {
            display: flex;
            align-items: center;
            gap: 20px;

            p {
                letter-spacing: 1px;

                position: relative;
            }
            p:after {
                content: '';

                position: absolute;

                width: 100%;
                height: 1px;

                background-color: var(--black);

                left: 0;
                bottom: 0;

                transform: scaleX(0);
                transform-origin: right;
                transition: transform .3s;
            }
            p:hover:after {
                transform-origin: left;
                transform: scaleX(1);
            }

            div {
                background-color: var(--silver);
                width: 35px;
                height: 35px;

                border-radius: 50%;

                padding-left: 13px;
                padding-top: 3px;

                transition: .3s;
            }
            div:hover {
                background-color: var(--regular);
                color: var(--white);
            }
        }
    }
    #mais-vendidos {
        position: relative;

        width: max-content;

        padding-inline: 10px;
    }
    #mais-vendidos:after {
        content: '';
        
        position: absolute;
        left: 0;
        bottom: -2px;

        width: 100%;
        height: 2px;

        background-color: var(--black);

        box-shadow: 0px 5px 5px var(--sombra);
    }
    
    #lista-video {
        display: flex;
        justify-content: space-between;

        max-width: 1200px;
        margin: auto;

        margin-top: 50px;
        
        p {
            user-select: none;

            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 12pt;
            color: var(--white);

            text-align: center;
        }

        video, .sombra {
            width: 250px;
            height: 445px;

            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        video {
            background-color: var(--regular);
        }
        .sombra {
            position: absolute;

            transform: translateY(-100.9%);

            background-image: linear-gradient(to bottom, #00000044, #00000022, #00000044);  

            transition: .3s;
        }
        .sombra:hover {
            opacity: 0;
        }
        #descriçao-produto {
            display: flex;
            align-items: center;
            gap: 35px;
            margin-inline: 20px;

            position: absolute;

            transform: translateY(-120%);

            img {
                background-color: var(--white);

                border-radius: 10px;
            }
        }
        #adicionar-carrinho {
            position: absolute;
            transform: translateY(-10%);

            width: 250px;

            cursor: pointer;

            height: 45px;

            padding-block: 10px;

            background-color: var(--regular);

            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        #adicionar-carrinho:hover {
            background-color: var(--white);
            border: 1px black solid;

            transition: .5s;

            p {
                color: var(--black);
            }
        }
    }
}

.cinco-produtos {
    max-width: 1300px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    li:hover {
        cursor: pointer;
    }

    p {
        font-family: "Poppins", sans-serif;
        font-style: normal;

        text-align: center;
    }

    #produto1 {
        background-image: url("../assets/images/picture/imagem_oculos1.png");
    }
    #produto1:hover {
        background-image: url("../assets/images/picture/modelo-oculos1.png");
    }
    #produto2 {
        background-image: url("../assets/images/picture/imagem_oculos2.png");
    }
    #produto2:hover {
        background-image: url("../assets/images/picture/modelo-oculos2.png");
    }
    #produto3 {
        background-image: url("../assets/images/picture/imagem_oculos3.png");
    }
    #produto3:hover {
        background-image: url("../assets/images/picture/modelo-oculos3.png");
    }
    #produto4 {
        background-image: url("../assets/images/picture/imagem_oculos4.png");
    }
    #produto4:hover {
        background-image: url("../assets/images/picture/modelo-oculos4.png");
    }
    #produto5 {
        background-image: url("../assets/images/picture/imagem_oculos5.png");
    }
    #produto5:hover {
        background-image: url("../assets/images/picture/modelo-oculos5.png");
    }
}

.foto-produto {
    width: 200px;
    height: 200px;
    
    background-size: cover;
    background-position: center center;

    border-radius: 10px;

    transition: .5s;
}

.foto-produto:hover {
    cursor: pointer;

    background-color: var(--dimwhite);
}

.nome, .valor {
    font-size: 15pt;
    letter-spacing: 2px;
}
.nome {
    font-weight: bold;
    color: var(--black);
}
.valor {
    color: var(--preço);
}
.parcelas,.estoque {
    color: var(--dchumbo);
    font-style: italic;
}