/* Homepage CSS */
/* This file contains the CSS styles for the homepage of the website. */
:root {
    --homepage-bg-color: #fff;
    --homepage-text-color: #111;
    --homepage-header-bg-color: #050505;
    --homepage-header-text-color: #fff;
    --homepage-marquee-bg-color: #050505;
    --homepage-marquee-text-color: #fff;
    --homepage-header-content-bg-color: #050505;
    --homepage-header-content-text-color: #fff;
    --homepage-header-input-bg-color: transparent;
    --homepage-menu-tab-bg-color: #fff;
    --homepage-menu-tab-text-color: #111;
    --homepage-search-tab-bg-color: #050505;
    --homepage-search-tab-text-color: #111;
    --homepage-font: 'homepage-font', Arial, sans-serif;
    --homepage-div-indicator-bg-color: #ffffff99;
    --homepage-div-indicatorActive-bg-color: #fff;
    --homepage-carousel-text-color: #fff;

    --marquee-height: 3vh;
    --marquee-max-height: 50px;
    --marquee-min-height: 30px;
    --gap-marquee: 50px;
    --header-nav-height: 10vh;
    --header-nav-max-height: 80px;
    --header-nav-min-height: 60px;
    --header-nav-width: 100vw;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    margin: 0;
    padding: 0;
    font-family: var(--homepage-font);
    min-width: 100vw;
    min-height: 100vh;
}

section#Marquee {
    position: relative;
    width: 85%;
    margin: auto;
    height: var(--marquee-height);
    max-height: var(--marquee-max-height);
    min-height: var(--marquee-min-height);
    display: flex;
    flex-flow: row nowrap;
    gap: var(--gap-marquee);
    overflow: hidden;
    background-color: var(--homepage-marquee-bg-color);
    color: var(--homepage-marquee-text-color);
}
div.marquee-content {
    list-style: none;
    min-width: 100%;
    height: var(--marquee-height);
    max-height: var(--marquee-max-height);
    min-height: var(--marquee-min-height);
    line-height: auto;
    font-family: var(--homepage-font);
    font-size: 0.6em;
    font-weight: 900;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    animation: marquee 20s linear infinite;
    gap: var(--gap-marquee);
}

@keyframes marquee { to { transform: translateX(calc(-100% - var(--gap-marquee))); } }

header#header {
    z-index: 2;
    position: relative;
    width: 100vw;
    height: auto;
    background-color: var(--homepage-header-bg-color);
    color: var(--homepage-header-text-color);
    text-align: center;
}

header > nav#header-content {
    opacity: 1;
    visibility: visible;
    transition: all 0.1s ease;
    background-color: var(--homepage-header-bg-color);
    font-family: var(--homepage-font);
    position: relative;
    width: var(--header-nav-width);
    height: var(--header-nav-height);
    max-height: var(--header-nav-max-height);
    min-height: var(--header-nav-min-height);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

header > nav#header-content.hidden-header {
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease;
}

header > nav#header-content > h1 {
    font-size: 1.8em;
    font-weight: 100;
}

header > nav#header-content > p {
    font-size: 0.8em;
}

header > nav#header-content > button.header-button {
    position: absolute;
    top: 50%; 
    width: 50px;
    height: 50px;
    background-color: var(--homepage-header-input-bg-color);
    border: none;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
}

header > nav#header-content > button#open-menu { left: 15px; }

header > nav#header-content > button#open-search { right: 15px; }

button > svg.icon-close { 
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: var(--homepage-header-input-bg-color);
    border: 1px solid;
    border-radius: 50%;
}

button#close-search, button#close-menu {
    background: none;
    border: none;
}

button#close-menu > svg { border-color: black; }

button#close-search > svg { border-color: white; }

input#search-box-input {
    width: calc(100vw - 100px);
    height: auto;
    background-color: var(--homepage-header-input-bg-color);
    border: none;
    border-bottom: 1px solid white;
    padding: 10px;
}

input#search-box-input::placeholder {
    color: var(--homepage-header-text-color);
    font-size: 1em;
    font-weight: 100;
}

header > nav#header-content > div#menu-tab {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    background-color: var(--homepage-menu-tab-bg-color);
    color: var(--homepage-menu-tab-text-color);
    border: 1px solid black;
    transform: translatex(-100%); 
}

header > div#search-tab {
    display: none;
    opacity: 0;
    visibility: hidden;
    width: var(--header-nav-width);
    height: var(--header-nav-height);
    max-height: var(--header-nav-max-height);
    min-height: var(--header-nav-min-height);
    background-color: var(--homepage-search-tab-bg-color);
    color: var(--homepage-search-tab-text-color);
    transition: all 0.1s ease;
}

header > div#search-tab.active-search-tab {
    opacity: 1;
    visibility: visible;
    transition: all 0.1s ease;
}

header > nav#header-content > div#menu-tab > div#menu-content {
    height: 100vh;
    padding: 30px;
    margin-top: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    gap: 5vh;
    font-family: var(--homepage-font);
    align-items: start; 
    overflow-y: auto;
}

header > div#search-tab > div#search-content {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding-right: 15px;
}

header > nav#header-content > div#menu-tab > div#menu-content > h1#menu-tab-h1{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 100;
} 

div#menu-content > a {
    color: var(--homepage-tab-text-color);
    font-size: 1.5em;
    font-weight: 100;
}

/* MAIN */

main { z-index: 1; }

main > section#carousel {
    position: relative;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
}

main > section#carousel > div#carousel-content {
    display: flex;
    flex-flow: row nowrap;
    transition: 0.7s ease-in-out; 
    transform: translateX(0); 
}

main > section#carousel > div#carousel-content > div.carousel-item > img {
    width: 100vw;
    height: auto;
    background-color: var(--homepage-header-bg-color);
}

main > section#carousel > div#carousel-indicators {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}
main > section#carousel > div#carousel-indicators > div.indicator {
    width: 15vw;
    height: 5px;
    background-color: var(--homepage-div-indicator-bg-color);
    transition: 0.5s;
}

main > section#carousel > div#carousel-indicators > div.active {
    width: 15vw;
    height: 5px;
    background-color: var(--homepage-div-indicatorActive-bg-color);
    transition: 0.5s;
}

main > section#carousel > div#carousel-content > div.carousel-item > div.carousel-text {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 35vh;
    background-color: transparent;
    color: var(--homepage-carousel-text-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 5vw;
    line-height: 2.5em;
    text-shadow: 1px 1px 1px black;
}

main > section#carousel > div#carousel-content > div.carousel-item > div.carousel-text > h1 {
    font-size: 2em;
    font-weight: 1000;
}

main > section#carousel > div#carousel-content > div.carousel-item > div.carousel-text > h2 {
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: 5px;
}

main > section#carousel > div#carousel-content > div.carousel-item > div.carousel-text > p {
    font-size: 1em;
    font-weight: 100;
}

main > section#carousel > div#carousel-content > div.carousel-item > div.carousel-text > button.carousel-button {
    padding: 10px 20px;
    background-color: transparent;
    color: var(--homepage-carousel-text-color);
    border: 2px solid var(--homepage-carousel-text-color);
    border-radius: 50px;
    font-size: 1em;
    font-weight: 1000;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px black;
    margin-block: 10px 50px;
}