/*HOMEPAGE NO MOBILE*/



/* MENU HAMBURGUER! */
div.containerBurguerMenu {
    position: fixed;
    transform: translateY(-100%);
    width: 100vw; height: 100vh;
    display: flex; flex-flow: row nowrap;
    justify-content: center; align-items: top;
    z-index: 6;

    transition: .3s;
}
menu.burguerMenu {
    background-color: var(--white);
    width: 95vw; height: 90vh;
    padding: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid var(--black);
    box-shadow: 0px 0px 40px var(--black);
}
ul#listLinksMenu {
    display: flex; flex-flow: column nowrap;
    justify-content: center; align-items: flex-start;
}
a { font-size: 2em; line-height: 80px;}
span#iconeMenuHamburguer {
    color: var(--regular);
    font-size: 2em; line-height: 80px;
    border: 1px var(--regular) solid; 
    border-radius: 50%;
    padding-inline: 12px;
}



/* FAIXADA DA LOJA! */
div#Marquee {
    margin: auto;
    display: flex;
    gap: var(--gapMarquee);
    padding-block: 15px;
    background-color: var(--regular);
    overflow-x: hidden;

    --gapMarquee: 20vw;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    flex-shrink: 0;
    gap: var(--gapMarquee);
    animation: scroll 20s linear infinite;
}
li > span { color: var(--white);}

@keyframes scroll { to { transform: translateX(calc(-100% - var(--gapMarquee)*2.5)); } }



/* CABEÇALHO! */
header { 
    position: absolute; 
    width: 100vw;
    z-index: 1;
    transition: .3s;
}
header > nav {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
    height: 10vh;
    width: 90vw;
    padding-block: 2vh;
    margin: auto;
}
img.icon { height: 24px; display: block; }
header.scrolling { 
    background-color: var(--regular);
    position: fixed;
    top: 0;
    z-index: 5;
}



/* SLIDE DE FOTOS */
div#slideWallpaper {
    height: 60vh;
    width: 100vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 5px 10px var(--shadowColor);
    position: relative;
    overflow: hidden;
}
div#slide {
    position: relative;

    width: 500%;
    height: 100%;
    display: flex;
}
input[type= radio] { display: none; }
img.slideImage { width: 100%; }
div.slide { width: 20%; transition: .6s; }

div#navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
label.bar {
    width: 13vw; height: 5px;
    background-color: var(--white);
    margin-inline: 10px;
    border-radius: 5px;
}
#slide1:checked ~ .s1 { margin-left: 0; }
#slide2:checked ~ .s1 { margin-left: -20%; }
#slide3:checked ~ .s1 { margin-left: -40%; }
#slide4:checked ~ .s1 { margin-left: -60%; }
#slide5:checked ~ .s1 { margin-left: -80%; }

div.slideMessage {
    position: absolute;
    display: flex;
    align-items: center; justify-content: center;
    top: 25vh;
    height: 35vh;
    width: 100vw;
}
span.slideText {
    display: block;
    color: var(--white);
    font: var(--DMsans);
    text-align: center;
}
span.m1 { font-size: 1.2em; letter-spacing: 5px;}
span.m2 { font-size: 2.5em; font-weight: 600; }
span.m3 { font-size: 1.2em; }
a.button { 
    display: block;
    color: var(--white);
    font: var(--DMsans);
    text-align: center;
    font-size: 0.7em; font-weight: 600;
    letter-spacing: 3px;
    border: 2px solid var(--white); border-radius: 20px;
    padding-block: 10px; margin-top: 10px;
}



/* SHOWCASE DA LOJA */
section#Showcase { margin: 20px; }
#Showcase > h1 { font-size: 1.5em; }
#Showcase > p { font-size: 0.8em; margin-top: 5px; }
#Showcase > a { 
    height: 40px;
    font-size: 1.2em; 
    font-weight: 300;
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start; align-items: center;
}
a#seeAll { margin-block: 50px;}
a#seeAll > input { 
    width: 100%; height: 40px;
    margin: auto;
    display: block;
    background-color: var(--regular);
    color: var(--white);
    border: none;
    border-radius: 5px;
}

div#firstCatalog {
    width: 100%; height: auto;
    margin-block: 20px;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
}
div.product { width: 50%;}
div.imageProduct {
    margin: auto;
    width: 40vw; height: 40vw;
    background-position: center center;
    border-radius: 25px;
}
#Product1 { background-image: url(../assets/images/glasses1.png); background-size: contain; background-repeat: no-repeat;}
#Product2 { background-image: url(../assets/images/glasses2.png); background-size: contain; background-repeat: no-repeat;}
#Product3 { background-image: url(../assets/images/glasses3.png); background-size: contain; background-repeat: no-repeat;}
#Product4 { background-image: url(../assets/images/glasses4.png); background-size: contain; background-repeat: no-repeat;}
#Product5 { background-image: url(../assets/images/glasses5.png); background-size: contain; background-repeat: no-repeat;}
#Product6 { background-image: url(../assets/images/glasses6.png); background-size: contain; background-repeat: no-repeat;}

p.description {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}
span.name { font-weight: 600; color: var(--black); font-size: 0.5em;}
span.value { color: var(--red); font-size: 0.5em; }
.glassesIcon { width: 25px; height: 25px; margin-right: 10px; }
span.stock { 
    font-size: 0.5em;
    font-style: italic; 
    background-color: var(--silver);
    border-radius: 20px;
    width: 150px;
    margin: auto;
    display: flex; flex-flow: row nowrap;
    align-items: center; justify-content: center;
    padding: 2px;
}



/* WALLPAPER DO MEIO DA LOJA */
picture#Wallpaper {
    width: 100vw;
    display: block;
    position: relative;
}
img#imageWallpaper { width: 100%; display: block;}

div#buttonClickMe {
    width: 50px; height: 50px;
    padding: 10px;
    border: none; border-radius: 50%;
    background-color: var(--regular);
    position: absolute;
    top: 35%;
    left: 65%;
}
a#hiddenProduct {
    width: 300px; height: 100px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-evenly; align-items: center;
    left: 50%; transform: translateX(-50%);
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 0px 20px var(--black);
    position: absolute;
    top: 60%;

    opacity: 0;
    transition: opacity .3s;
}
img#clickMeIcon { width: 33px; }
img#imageHiddenProduct { width: 100px; }
p#descriptionHiddenProduct { display: flex; flex-flow: column nowrap; }



/* MIDIAS VIDIOS */
section#Medias {
    width: 100%;
    overflow: hidden;
    margin-block: 20px;
}
h1#mediasTitle {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
}

div#videoScroll { 
    margin-inline: 20px;
    display: flex; flex-flow: row nowrap;
    gap: 50px;
    overflow: auto;
}
div.video { position: relative; }
video{ 
    display: block;
    width: 230px;
    height: 408.9px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
div.shadow { 
    display: block;
    width: 230px;
    height: 408.9px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #00000050;
    position: absolute;
    top: 0;
}

div.descriptionVideo {
    position: absolute;
    bottom: 50px;
    margin: 20px;
}
span.nameVideoMedia { color: var(--white); font-size: 1em; }
span.valueVideoMedia { color: var(--white); font-size: 1em; text-align: start; }

input#addShopBtn {
    display: block;
    width: 230px; height: 50px;
    background-color: var(--regular);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: var(--white);
    font-size: 0.5em;
    border: none;
}



/* FORMULARIOS */
section#Forms { 
    margin: 50px; text-align: center;
}
h1#NewsllaterTitle { font-size: 1.5em; font-weight: 400;}
p#NewsllaterText { margin-block: 20px;}
form { display: flex; flex-flow: column nowrap; gap: 10px;}
input#iname { padding: 10px; border-radius: 5px; border: 1px solid;}
input#iemail { padding: 10px; border-radius: 5px; border: 1px solid;}
input#isubmit { 
    padding: 10px; 
    border-radius: 5px; 
    background-color: var(--regular); 
    color: var(--white);
}



/* MIDIAS SOCIAIS */
section#SocialMedias {
    display: flex; flex-flow: column nowrap;;
    margin: 50px; 
    text-align: center;
}
h1#SocialMediasTitle { font-size: 1.5em; font-weight: 400;}
p#SocialMediasText { margin-block: 20px;}
div#linksSocialMedias { display: flex; flex-flow: column nowrap;}
span.emphasis { font-weight: 600; color: var(--black); display: inline;}
a.SocialLinks { 
    display: flex; flex-flow: row nowrap;
    justify-content: center; align-items: center;
    gap: 10px;
    font-size: 1em; font-weight: 500; 
    white-space: nowrap; 
    position: relative;
}
img.socialMediaIcons { 
    width: 15px; height: 15px;
}



/* ONDAS DO FOOTER */
section#wave {
    position: relative;
    width: 100%; height: 50px;
}
div.wave {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%; height: 50px;
    background-image: url(../assets/images/wave.png);
    background-size: 1000px 50px;
}
div.wave1 {
    animation: waves-direita 10s linear infinite;
    animation-delay: 0s;
    z-index: 4;
    opacity: 0.9;
    bottom: -1px;
}
div.wave2 {
    animation: waves-esquerda 7s linear infinite;
    animation-delay: -5s;
    z-index: 3;
    opacity: 0.7;
    bottom: -1px;
}
div.wave3 {
    animation: waves-direita 8s linear infinite;
    animation-delay: -10s;
    z-index: 2;
    opacity: 0.5;
    bottom: -1px;
}
div.wave4 {
    animation: waves-esquerda 5s linear infinite;
    animation-delay: -15s;
    z-index: 1;
    opacity: 0.3;
    bottom: -1px;
}
@keyframes waves-esquerda {
    0% { background-position-x: 0px; }
    100% { background-position-x: -1000px; }
}@keyframes waves-direita {
    0% { background-position-x: 0px; }
    100% { background-position-x: 1000px; }
}



/* FOOTER */
footer {
    height: 95vh; width: 100vw;
    background-color: var(--regular);
    position: relative;
    padding: 50px 20px;
}
div#containerFooter {
    max-height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
}
ul.footerList { 
    display: flex; 
    flex-flow: column nowrap;
    justify-content: center; align-items: flex-start;
}
h2.footerTitle { color: var(--white); margin-block: 40px; }
li.contactText { 
    color: #ffffff80; 
    font-size: 1em; 
    margin-block: 10px;
}
li.links { margin-block: 10px; }
a.links { 
    line-height: 20px;
    color: #ffffff80; 
    font-size: 1em;
    font-style: italic;
}
div#footer {
    display: flex; flex-flow: column nowrap;
    position: relative;
    bottom: 0;
    margin-block: 20px;
}
a#copyright { 
    color: var(--white);
    font-size: 1em;
    line-height: 20px;
}