/*PRODUCTS NO MOBILE*/

body { }

header { background-color: var(--regular); }
header > nav {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
    width: 90vw;
    padding-block: 15px;
    margin: auto;

    #menu, #logo, #cart { cursor: pointer; }
    .icone { max-height: 25px; }
}

div#slidePromotions {
    background-color: var(--regular);
    position: relative;
    overflow: hidden;
    height: 8vh;

    #slide {
        position: relative;
        width: 200%;
        height: 100%;
        display: flex;
        padding-block: 10px;

        input { display: none; }
        .slide { width: 50%; transition: .6s; }
        h1, p { color: var(--white); text-align: center;}
        h1 { font-weight: 600; }
        p { font-size: 0.8em; } 
    }
    
    #navigation {
        position: absolute;
        top: 20px;
        display: flex; flex-flow: row nowrap;
        justify-content: space-between; align-items: center;
        width: 100vw;
        padding-inline: 20px;

        .arrow {
            color: var(--white);
            font-size: 1.2em;
            border: 1px solid var(--white);
            border-radius: 50%;
            width: 30px;
            padding-inline: 10px;
            background-color: var(--regular);
        }
    }
    #slide1:checked ~ .s1 { margin-left: 0; }
    #slide2:checked ~ .s1 { margin-left: -50%; }
}